[submodule "vue"]
	path = modules/astrodon-templates/vue
	url = https://github.com/astrodon/astrodon-vue-template
[submodule "default"]
	path = modules/astrodon-templates/default
	url = https://github.com/astrodon/astrodon-default-template
